<publishData>
    <publishProfile profileName="pathmind-dev - Web Deploy" 
                    publishMethod="MSDeploy" 
                    publishUrl="pathmind-dev.scm.azurewebsites.net:443" 
                    msdeploySite="pathmind-dev" 
                    userName="$pathmind-dev" 
                    userPWD="$(Password)" 
                    destinationAppUrl="http://pathmind-dev.azurewebsites.net" 
                    SQLServerDBConnectionString="" 
                    mySQLDBConnectionString="" 
                    hostingProviderForumLink="" 
                    controlPanelLink="http://windows.azure.com" 
                    webSystem="WebSites">
        <databases />
    </publishProfile>
    <publishProfile profileName="pathmind-dev - FTP" 
                    publishMethod="FTP" 
                    publishUrl="ftp://waws-prod-sn1-161.ftp.azurewebsites.windows.net/site/wwwroot" 
                    ftpPassiveMode="True" 
                    userName="pathmind-dev\$pathmind-dev" 
                    userPWD="$(Password)" 
                    destinationAppUrl="http://pathmind-dev.azurewebsites.net" 
                    SQLServerDBConnectionString="" 
                    mySQLDBConnectionString="" 
                    hostingProviderForumLink="" 
                    controlPanelLink="http://windows.azure.com" 
                    webSystem="WebSites">
        <databases />
    </publishProfile>
</publishData>