#!/usr/bin/env bash

# Please set these values according to https://github.com/SkymindIO/pathmind-webapp/wiki/Setting-up-your-dev-environment
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export S3_BUCKET=""
export TESTS_USERNAME=""
export TESTS_PASSWORD=""
export SQS_UPDATER_URL=""
export SNS_UPDATER_SQS_FILTER_ATTR=""

# Set JOB_MOCK_CYCLE to 10 if you want to use the mockbackend for dev work or testing
export JOB_MOCK_CYCLE=0

# These are standard for the Vagrant file and usually don't need to be changed
export DB_URL=jdbc:postgresql://localhost/pathmind?user=skynet\&password=skynetskynet123
export SNS_UPDATER_TOPIC_ARN=arn:aws:sns:us-east-1:839270835622:dev-updater-topic
export SQS_URL="https://sqs.us-east-1.amazonaws.com/839270835622/test-training-queue.fifo"
export AWS_DEFAULT_REGION="us-east-1"
