.experiment-view vaadin-split-layout > vaadin-vertical-layout,
.policy-chart-panel, .training-starting-placeholder {
  width: 100%;
  background: white;
  border-radius: var(--lumo-border-radius);
  padding: var(--lumo-space-m);
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
}

.training-starting-placeholder{
	justify-content: center;
	text-align: left;
}

.experiment-view vaadin-grid {
  min-height: 60px;
}

vaadin-chart {
  min-height: 400px;
}

juicy-ace-editor {
  min-height: 80px;
}
