.login-panel-cont {
  display: flex;
  height: 100%;
  width: 100%;
  background: var(--pm-app-bg-color);
  overflow: auto;
}

landing-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: var(--lumo-space-l);
  box-sizing: border-box;
}

.login-panel-cont .content {
  padding: 0;
  margin: 50px auto 0;
}

.login-panel-cont .inner-content {
  box-sizing: border-box;
  width: 400px;
  font-size: var(--lumo-font-size-s);
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-top: 0;
}

.login-panel-cont h3 {
  color: var(--pm-text-color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 48px;
}

.welcome-text {
  color: var(--pm-orange-color);
  font-size: 16px;
}

.logo {
  margin-bottom: 25px;
}

.email-not-verified-cont {
  justify-content: space-between;
  padding: 0 0 10px 0;
}

.email-not-verified-cont span {
  padding-top: 10px;
}

.login-panel {
  margin: auto;
}

vaadin-button[part="vaadin-login-submit"] {
  width: 225px !important;
  margin-top: 50px !important;
}

.account-help-wrapper {
  margin-top: 48px;
}

.account-help-wrapper a {
  display: inline-block;
  font-weight: 700;
  margin-left: var(--lumo-space-xs);
}

.policy {
  font-size: var(--lumo-font-size-xs);
  color: var(--pm-tertiary-text-color);
}

.policy a {
  font-weight: 700;
  color: var(--pm-tertiary-text-color);
}
