.new-experiment-view {
    height: 100%;
}

.new-experiment-view > vaadin-split-layout {
    padding: var(--lumo-space-m);
    box-sizing: border-box;
}

.new-experiment-view vaadin-split-layout  > vaadin-vertical-layout,
.new-experiment-view vaadin-split-layout  > vaadin-horizontal-layout {
    width: 100%;
    background: white;
    border-radius: var(--lumo-border-radius);
    padding: var(--lumo-space-m);
    box-sizing: border-box;
}