:host {
  overflow-x: hidden;
}

.content {
  width: 445px;
  padding: 0;
  margin: 50px auto 0;
}

.welcome-text {
  color: var(--pm-orange-color);
}

.logo {
  width: 200px;
  margin-bottom: 25px;
}

.inner-content {
  align-items: center;
  width: 100%;
  padding: var(--lumo-space-l) var(--lumo-space-xl);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-top: 0;
}

a {
  color: var(--pm-text-color);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

h3 {
  font-size: var(--lumo-font-size-xl);
  margin-top: 0;
  margin-bottom: var(--lumo-size-xl);
}

h3 + vaadin-password-field {
  padding-top: 0;
}

#buttonsCont {
  margin-top: 45px;
  width: 100%;
}

#buttonsCont vaadin-button:first-child {
  margin-top: 0;
}

#buttonsCont + p {
  margin-bottom: var(--lumo-space-xl);
}

.notes {
  font-size: var(--lumo-font-size-s);
  color: var(--pm-tertiary-text-color);
  padding-left: var(--lumo-space-s);
}

.notes span:last-child {
  padding-bottom: 20px;
}

.notes .secondary {
  color: #e7e7e7;
}

.form-hints {
  font-size: var(--lumo-font-size-s);
  color: var(--pm-tertiary-text-color);
  margin: 0;
}

#forgotPasswordBtn {
  width: 200px;
}

#errorCont {
  justify-content: space-between;
  width: 100%;
}

#errorCont .error-message {
  padding-top: 8px;
}

.do-not-share-url {
  display: flex;
  align-self: flex-start;
  color: var(--pm-primary-color);
}

.do-not-share-url iron-icon {
  width: 16px;
  margin-right: 6px;
}

.policy {
  font-size: var(--lumo-font-size-xs);
  color: var(--pm-tertiary-text-color);
}

.policy a {
  font-weight: 700;
  color: var(--pm-tertiary-text-color);
  text-decoration: none;
}

.policy a:hover {
  text-decoration: underline;
}

.support {
  margin-top: var(--lumo-size-xl);
  text-decoration: underline;
}

.support:hover {
  text-decoration: none;
}
