.dashboard-view {
    max-width: 960px;
    margin: 0 auto;
}

.dashboard-view > vaadin-vertical-layout > .section-title-label {
    padding: calc(var(--lumo-space-m) * 2) var(--lumo-space-m) 0;
    line-height: 1;
}

.dashboard + vaadin-horizontal-layout {
    padding: var(--lumo-space-s) 0 var(--lumo-space-l);
}

.dashboard-line {
    position: relative;
    background: white;
    border-radius: var(--lumo-border-radius);
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 3px 5px var(--lumo-shade-10pct);
    padding: var(--lumo-space-m);
    align-items: center;
}
.dashboard-line:hover {
    box-shadow: 0 4px 7px var(--lumo-shade-30pct);
}

.dashboard-item-main {
    flex: 0 0 66%;
    display: block;
}
.dashboard-item-main > span {
    display: block;
    margin: 0;
}
.dashboard-item-main .project-title-label {
    color: var(--lumo-body-text-color);
    font-size: var(--lumo-font-size-l);
    font-weight: bold;
}
.dashboard-item-main .breadcrumb {
    text-decoration: none;
}
.dashboard-item-main .breadcrumb:hover {
    color: var(--lumo-primary-text-color);
}
.dashboard-item-main .breadcrumb:last-child {
    color: var(--lumo-body-text-color);
}
.dashboard-item-main .breadcrumb:last-child:hover {
    /* Although it's not a span not an anchor, clicking it results in
       clicking of the whole dashboard item so it kinds of acts like a link */
    color: var(--lumo-primary-text-color);
    cursor: pointer;
}
.dashboard-item-notes {
    justify-content: space-between;
    align-self: stretch;
    height: 6rem;
    padding: 0 0 0 var(--lumo-space-m);
    border-left: 1px solid var(--pm-grey-color-lighter);
    margin-top: 1.8rem;
}
.dashboard-item-notes:empty {
    border-left: none;
}
.dashboard-item-notes span {
    color: var(--lumo-body-text-color);
    line-height: 1;
}
.dashboard-item-notes p {
    position: relative;
    height: 5rem;
    line-height: 1.29rem;
    white-space: normal;
    word-break: break-word;
    overflow: hidden;
    margin-bottom: 0;
}
.dashboard-item-notes p::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1rem;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), white);
}

.dashboard-item-notes + vaadin-button {
    position: absolute;
    top: var(--lumo-space-m);
    right: var(--lumo-space-m);
    align-self: flex-start;
    color: var(--lumo-secondary-text-color);
}

.stages-container {
    justify-content: space-between;
    width: 100%;
    font-size: var(--lumo-font-size-xs);
}
.stages-container > span {
    display: flex;
    flex-direction: column;
    /* width: 28%; */
    text-align: center;
}
.stages-container > span:nth-child(4) {
    /* width: 16%; */
}
.stages-container > span > span {
    display: flex;
    align-items: center;
    text-align: center;
}
.stages-container > span > span:not(:first-child) {
    justify-content: center;
    margin-left: 0;
}
.stages-container > span > span > iron-icon {
    --iron-icon-width: var(--lumo-font-size-m);
    --iron-icon-height: var(--lumo-font-size-m);
    margin-right: 4px;
}
.stages-container > span:nth-child(3) div span:first-child {
    margin-right: var(--lumo-space-xxxs);
}
.stages-container > span:nth-child(3) div span:last-child {
    display: block;
    font-size: var(--lumo-font-size-xs);
    font-weight: normal;
    color: var(--lumo-secondary-text-color);
}
.stages-container .hint-label {
    font-size: var(--lumo-font-size-xs);
}
.stage-active {
    color: var(--lumo-primary-color);
    font-weight: bold;
}
/* Training Progress */
.stage-active vaadin-vertical-layout {
    max-width: 120px;
    margin: 0 auto;
}
.stage-active vaadin-progress-bar {
    margin: var(--lumo-space-xs) 0;
}
.stage-done {
    color: var(--lumo-body-text-color);
}
.stage-done iron-icon[icon~="vaadin:check-circle"] {
    color: var(--lumo-success-color);
}
.stage-failed {
    color: var(--lumo-error-text-color);
}
.stage-stopped {
    display: flex;
    justify-content: center;
    color: var(--lumo-body-text-color);
}
.stage-stopped icon-stopped {
    --icon-size: 20px;
    margin-right: 4px;
}
.stage-failed span,
.stage-stopped span {
    line-height: 1.1;
    text-align: left;
}
.stage-next {
    color: var(--pm-grey-color);
}
@media (max-width: 720px) {
    .stages-container {
        flex-direction: column;
    }
    .stages-container > span:nth-child(1),
    .stages-container > span:nth-child(2),
    .stages-container > span:nth-child(3),
    .stages-container > span:nth-child(4) {
        width: 100%;
        text-align: left;
        justify-content: unset;
    }
    .stages-container > span:nth-child(1),
    .stages-container > span:nth-child(2) {
        margin-left: 0;
    }
    .stages-container > span.stage-active,
    .stages-container > span.stage-next {
        padding: 5px 0;
        margin-left: 20px;
    }
    .stage-active vaadin-vertical-layout,
    .stage-active span {
        margin: 0;
    }
    .stages-container > span > iron-icon,
    .stage-stopped .icon-stopped {
        width: 16px;
        height: 16px;
    }
    .stage-stopped .icon-stopped::after {
        width: 8px;
        height: 8px;
        top: 4px;
        left: 4px;
    }
    .dashboard-item-notes {
        height: 12rem;
    }
    .dashboard-item-notes p {
        height: 11rem;
    }
    .dashboard-item-main vaadin-horizontal-layout:not(.stages-container) {
        flex-wrap: wrap;
    }
}