.experiment-view .section-title-label {
    flex: 1 0 auto;
    line-height: 1;
}

.experiment-view .section-title-label + tag-label {
    align-self: flex-start;
    margin-left: var(--lumo-space-xs);
}

.experiment-view .view-section {
    box-sizing: border-box;
    width: 100%;
    min-width: auto;
    background: white;
    border-radius: 0;
    padding: var(--lumo-space-m);
    overflow: auto; /* For Firefox's clipped wrapper due to Vaadin-chart's unexpected too-wide rendered size */
}

.experiment-view .middle-panel > vaadin-vertical-layout {
    flex: 0 0 auto;
    width: auto !important;
}

.experiment-view .middle-panel > vaadin-vertical-layout:last-child {
    flex: 1 1 auto;
    width: 50% !important;
}

.experiment-view .simulation-metrics-table-wrapper {
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    max-height: calc(1.8em * 20);
    font-size: var(--lumo-font-size-xs);
    line-height: 1.8;
    padding: var(--lumo-space-s);
    padding-top: 0;
    border: 1px solid var(--pm-gray-color);
    border-radius: var(--lumo-border-radius);
    overflow: auto;
}

.experiment-view .reward-variables-table {
    font-size: var(--lumo-font-size-xs);
}

.experiment-view .reward-variables-table.compact .header-row {
    display: block;
}

.experiment-view .reward-variables-table .header-row span:last-child {
    justify-content: flex-start;
    line-height: 2rem;
    padding: 0;
}

.experiment-view .simulation-metrics-table-wrapper .header {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    width: 100%;
    top: 0;
    color: var(--pm-secondary-text-color);
    background-color: white;
}

.experiment-view .metrics-wrapper .header span {
    justify-content: flex-end;
}

.experiment-view .simulation-metrics-table-wrapper .header .helper-icon {
    flex-shrink: 0;
    margin-left: var(--lumo-space-xxs);
}

.experiment-view .simulation-metrics-table-wrapper .header .helper-icon:hover {
    color: var(--pm-secondary-text-color);
}

.experiment-view .simulation-metrics-table-wrapper .header iron-icon {
    --iron-icon-width: var(--lumo-font-size-s);
    --iron-icon-height: var(--lumo-font-size-s);
}

.experiment-view .reward-variables-table span:first-child {
    display: none;
}
.experiment-view .reward-variables-table span:last-child {
    display: none;
}
.experiment-view .reward-variable-name-field {
    height: 1.75rem;
    border-radius: 3px;
    box-shadow: none;
}

.experiment-view .metrics-wrapper span {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    height: 2rem;
    line-height: 1;
    margin-left: var(--lumo-space-s);
}

.experiment-view .metrics-wrapper,
.experiment-view .sparklines-wrapper {
    flex: 1 0 0;
    line-height: 2rem;
}

.experiment-view .sparklines-wrapper .sparkline {
    position: relative;
    width: 100px;
    height: 2rem !important;
    /* padding: var(--lumo-space-xxs) 0; */
    margin-left: var(--lumo-space-s);
}

.experiment-view .sparklines-wrapper .sparkline data-chart {
    width: 100%;
    height: 100%;
}

.experiment-view .sparklines-wrapper .sparkline vaadin-button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1.32rem;
    line-height: 1.32rem;
    font-size: var(--lumo-font-size-s);
    padding: 0 var(--lumo-space-xs);
    transform: translate(-50%, -50%);
    margin: 0;
}

.experiment-view .sparklines-wrapper .sparkline:hover vaadin-button {
    display: block;
}

.experiment-view .metrics-wrapper {
    align-items: flex-end;
}

.experiment-view .observations-table {
    padding-top: 0;
}

.experiment-view .observations-table vaadin-checkbox-group {
    font-size: var(--lumo-font-size-xs);
}

.metric-chart-panel {
    position: relative;
}

.metric-chart-panel p {
    margin-top: 0;
}

.metric-chart-panel + vaadin-button {
    position: absolute;
    top: var(--lumo-space-l);
    right: var(--lumo-space-l);
    margin: 0;
}

.experiment-view .bottom-panel,
.experiment-view .row-2-of-3 vaadin-vertical-layout {
    flex: 1;
}

.experiment-view .buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
}

.experiment-view .buttons-wrapper vaadin-button:not(:first-child),
.experiment-view .buttons-wrapper .download-alp-link {
    margin-left: var(--lumo-space-s);
}

.experiment-view juicy-ace-editor {
    display: block;
}

.experiment-view .bold-label,
.new-experiment-view .bold-label {
    margin-bottom: var(--lumo-space-xs);
}

.experiment-view .score {
    font-size: var(--lumo-font-size-xl);
    font-weight: bold;
    color: var(--lumo-primary-text-color);
    line-height: 1;
}

.training-status-details-panel vaadin-vertical-layout {
    width: auto !important;
    margin-left: var(--lumo-space-l);
}

.training-status-details-panel span,
.experiment-view elapsed-timer {
    font-size: var(--lumo-font-size-xs);
    line-height: 1.2;
}

.experiment-view elapsed-time {
    align-self: flex-start;
}

.training-status-details-panel span:first-child {
    color: var(--lumo-primary-text-color);
    font-weight: bold;
}

.experiment-view vaadin-progress-bar {
    width: 6rem;
    margin: var(--lumo-space-xs) 0 var(--lumo-space-xxs);
}

.experiment-view vaadin-progress-bar + div {
    display: flex;
}

.experiment-view vaadin-progress-bar + div span:last-child {
    margin-left: var(--lumo-space-xxxs);
}

.experiment-view .reason-why-the-training-stopped {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: var(--lumo-space-xxxs) var(--lumo-space-xs);
    border: 1px solid transparent;
    border-radius: var(--lumo-border-radius);
    margin: var(--lumo-space-xs) 0 0;
}

.experiment-view .tag.error-label {
    margin-left: 0;
    margin-right: 0;
}

.experiment-view .reason-why-the-training-stopped:empty {
    display: none;
}