.experiment-view .section-title-label {
  line-height: 1;
}

.experiment-view .training-starting-placeholder .section-title-label {
  position: relative;
  padding-left: 32px;
}

.experiment-view .view-section {
  box-sizing: border-box;
  width: 100%;
  min-width: auto;
  background: white;
  border-radius: var(--lumo-border-radius);
  padding: var(--lumo-space-m);
}

.experiment-view .view-section > vaadin-vertical-layout:first-of-type {
  width: calc(70% - var(--lumo-space-m)) !important;
  flex: 1;
}

.experiment-view
  .view-section
  > vaadin-vertical-layout:first-of-type
  > vaadin-vertical-layout:nth-of-type(3) {
  flex: 1 1 25rem;
}

.experiment-view .right-panel {
  flex: 0 0 30%;
  max-width: 29rem;
}

.experiment-view .buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

.experiment-view .buttons-wrapper vaadin-button {
  width: calc(50% - var(--lumo-space-s) / 2);
  min-width: unset;
}

.experiment-view .buttons-wrapper vaadin-button:not(:first-child) {
  margin-left: var(--lumo-space-s);
}

.experiment-view juicy-ace-editor {
  display: block;
}

.experiment-view .right-panel > vaadin-vertical-layout {
  margin: var(--lumo-space-m) 0;
}

.experiment-view .bold-label {
  margin-bottom: var(--lumo-space-xs);
}

.experiment-view .score {
  font-size: var(--lumo-font-size-xl);
  font-weight: bold;
  color: var(--lumo-primary-text-color);
  line-height: 1;
}

.training-starting-placeholder {
  margin-top: var(--lumo-space-xxl);
}

.training-status-details-panel vaadin-horizontal-layout vaadin-vertical-layout {
  padding: 0 var(--lumo-space-m);
}

.training-status-details-panel span,
.experiment-view elapsed-timer {
  font-size: var(--lumo-font-size-s);
  line-height: 1.3;
  text-align: right;
  margin-top: 0;
}

.training-status-details-panel span:first-child {
  color: var(--lumo-primary-text-color);
  font-weight: bold;
}

.experiment-view vaadin-progress-bar {
  margin: var(--lumo-space-xs) 0;
}
