.email-not-verified-cont {
  justify-content: space-evenly;
  align-items: center;
}

.account-help-wrapper {
  margin-top: 48px;
}

.account-help-wrapper a {
  display: inline-block;
  font-weight: 700;
  margin-left: var(--lumo-space-xs);
}