.new-experiment-view {
  height: 100%;
}

.panel-title {
  max-width: 460px;
}

.reward-function-wrapper {
  padding: 20px 0;
}
juicy-ace-editor {
  margin-top: var(--lumo-space-s);
}

.errors-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
}

.error-message-wrapper {
  flex: 1 0 calc(100% - 26px);
  box-sizing: border-box;
  width: 100%;
  white-space: pre;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro",
    monospace;
  background-color: white;
  padding: var(--lumo-space-s) var(--lumo-space-m);
  border: 1px solid var(--lumo-contrast-20pct);
  border-radius: var(--lumo-border-radius);
  overflow: auto;
}

.hasError {
  color: var(--pm-danger-color);
}

.noError {
  display: flex;
  color: var(--pm-friendly-color);
}

.noError iron-icon {
  margin-right: var(--lumo-space-xs);
}

vaadin-button {
  cursor: pointer;
}
