.default-view.new-experiment-view {
    height: auto;
    flex: 1 0 100%;
}

.new-experiment-view .view-section {
    height: calc(100vh - 5rem);
    padding: 0;
    border-radius: 0;
    overflow: auto;
}

.new-experiment-view .view-section > vaadin-split-layout > vaadin-vertical-layout[slot~="primary"] {
    overflow: visible;
}

.new-experiment-view .view-section > vaadin-horizontal-layout:first-child {
    flex: 0 0 auto;
    margin-bottom: var(--lumo-space-m);
}

.new-experiment-view .page-title + vaadin-horizontal-layout {
    flex: 1;
}

.new-experiment-view .panel-title .section-subtitle-label {
    max-width: 460px;
    padding: 0 var(--lumo-space-m) var(--lumo-space-m);
}

.new-experiment-view .panel-title + vaadin-horizontal-layout {
    height: 6.3rem;
    padding: var(--lumo-space-m) var(--lumo-space-m) 0 0;
}

.new-experiment-view .warning-label {
    line-height: 1;
    background: rgba(254, 193, 65, 0.7);
    padding: var(--lumo-space-xs);
    border: 1px solid var(--pm-gold-color);
    border-radius: var(--lumo-border-radius);
    margin: var(--lumo-space-m) var(--lumo-space-m) 0;
}

.new-experiment-view .warning-label vaadin-button {
    margin: 0 var(--lumo-space-xs);
}

.new-experiment-view .section-title-label {
    line-height: 1;
}

.new-experiment-view .bold-label {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    width: 100%;
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-s);
    font-weight: normal;
    color: var(--lumo-secondary-text-color);
    line-height: 1;
    background: var(--pm-app-bg-color);
    padding: var(--lumo-space-xs);
    border-bottom: 1px solid var(--pm-grey-color-lightest);
    z-index: 1;
}

.new-experiment-view .reward-function-wrapper {
    flex: 1 1 auto;
    margin-top: 0;
}

.new-experiment-view .reward-function-wrapper > vaadin-vertical-layout,
.new-experiment-view .errors-wrapper {
    border-left: 1px solid var(--pm-grey-color-lightest);
}

.new-experiment-view .reward-fn-panel-container {
    flex: 2;
}

.new-experiment-view .reward-variables-panel .reward-function-wrapper .reward-variables-table {
    max-height: none;
}

.new-experiment-view .reward-variables-panel > vaadin-vertical-layout {
    box-sizing: border-box;
    flex: 1 1 19rem;
    line-height: 1;
    padding: 0 var(--lumo-space-xs) var(--lumo-space-xxxs);
    overflow-y: auto;
}

.new-experiment-view .reward-function-wrapper .reward-variables-table {
    max-height: none;
}

.new-experiment-view .simulation-parameters-panel vaadin-custom-field {
    width: 100%;
}

.new-experiment-view .reward-variables-table .header-row,
.new-experiment-view .simulation-parameters-table .header-row {
    padding: var(--lumo-space-xs) 0;
    border-bottom: 1px solid var(--pm-grey-color-lightest);
    margin-bottom: var(--lumo-space-s);
}

.new-experiment-view .reward-variables-table .header-row span,
.new-experiment-view .simulation-parameters-table .header-row span {
    width: auto;
    line-height: 1;
    padding: 0;
}

.new-experiment-view .reward-variables-table vaadin-horizontal-layout {
    flex: 1 0 auto;
    justify-content: space-between;
    margin-bottom: var(--lumo-space-xxs);
}

.new-experiment-view .observations-panel {
    padding: 0 var(--lumo-space-xs) var(--lumo-space-xxxs);
    border: none;
    border-radius: 0;
}

.new-experiment-view .observations-panel span {
    padding: var(--lumo-space-xs) 0;
}

.new-experiment-view .bottom-panel {
    flex: 0 0 18rem;
    overflow: auto;
}

.new-experiment-view .errors-wrapper {
    display: flex;
    flex-direction: column;
}

.new-experiment-view .error-message-wrapper {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    white-space: pre;
    font-family: var(--code-font-family);
    background-color: var(--pm-app-bg-color);
    padding: var(--lumo-space-xs) var(--lumo-space-s);
    overflow: auto;
}

.new-experiment-view .hasError {
    color: var(--pm-danger-color);
}

.new-experiment-view .noError {
    display: flex;
    color: var(--pm-friendly-color);
}

.new-experiment-view .noError iron-icon {
    margin-right: var(--lumo-space-xs);
}

.new-experiment-view .error-and-notes-container vaadin-button {
    min-width: calc(var(--lumo-button-size) * 1.625);
    height: 1.4rem;
    line-height: calc(1.4rem - 2px);
    font-size: var(--lumo-font-size-s);
    padding: 0 var(--lumo-space-s);
}

.new-experiment-view .notes-block .header span:nth-of-type(2),
.new-experiment-view .notes-block .header iron-icon,
.new-experiment-view .notes-block .header vaadin-button {
    display: none !important;
}

.reward-editor-error {
    align-self: flex-end;
    color: var(--pm-danger-color);
    margin-top: 0px;
}

.new-experiment-view .reward-editor-error {
    margin-bottom: var(--lumo-space-xs);
}

.reward-editor-error[hidden="true"] + * {
    margin-top: auto;
}

.reward-editor-error + * {
    margin-top: 0px;
}

.new-experiment-view .error-label {
    box-sizing: border-box;
    width: 100%;
}

.new-experiment-view .download-alp-link {
    align-self: center;
}

.new-experiment-view .new-experiment-split-button {
    align-items: flex-start;
    height: auto;
}

/* Settings */
.new-experiment-view settings-view-content .panel-wrapper {
    padding: 0;
    overflow: visible;
}

.new-experiment-view settings-view-content .inner-content {
    flex: 1 0 auto;
    padding: 0 0 var(--lumo-space-s);
    margin-top: 0;
    border-radius: 0;
}

.new-experiment-view settings-view-content h4 {
    font-family: var(--lumo-font-family);
    font-weight: normal;
    font-size: var(--lumo-font-size-xs);
    color: var(--pm-grey-color-dark);
    padding: var(--lumo-space-xxs) var(--lumo-space-xs);
    text-align: left;
}

.new-experiment-view settings-view-content .grid-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    grid-column-gap: var(--lumo-space-s);
    grid-row-gap: 0;
}

.new-experiment-view settings-view-content .grid-wrapper vaadin-select {
    flex: 1 0 auto;
}

.new-experiment-view settings-view-content .settings-header {
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--pm-app-bg-color);
    border-bottom: 1px solid var(--pm-grey-color-lightest);
    z-index: 1;
}

.new-experiment-view settings-view-content .settings-header .section-title-label {
    box-sizing: border-box;
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-s);
    font-weight: normal;
    color: var(--lumo-secondary-text-color);
    line-height: 1;
    padding: var(--lumo-space-xs);
}

.new-experiment-view settings-view-content iron-icon {
    display: inline-block;
}

.new-experiment-view sortable {
  width: 100%;
}

.new-experiment-view sortable vaadin-vertical-layout {
  counter-reset: number;
}

.new-experiment-view sortable vaadin-vertical-layout sortable-row-wrapper {
  counter-increment: number;
  position: relative;
  margin: 2px 0;
}

.new-experiment-view sortable vaadin-vertical-layout sortable-row-wrapper > *:first-child::before {
  content: counter(number);
  position: absolute;
  top: 50%;
  left: .3rem;
  color: var(--pm-grey-color);
  transform: translateY(-50%);
}

.new-experiment-view sortable vaadin-vertical-layout sortable-row-wrapper:hover > *:first-child::before {
  display: none;
}

.new-experiment-view sortable-row-wrapper > vaadin-horizontal-layout {
  justify-content: space-between;
  margin: -1px -1px -1px 0;
}

.new-experiment-view sortable-row-wrapper > vaadin-horizontal-layout > vaadin-select {
  width: 14rem;
}

.new-experiment-view sortable-row-wrapper juicy-ace-editor {
  min-height: 8em;
}

.new-experiment-view .goal-fields-wrapper {
  width: 21rem !important;
}

.new-experiment-view .goal-fields-wrapper vaadin-select + span {
  display: none;
}

.new-experiment-view .goal-fields-wrapper vaadin-select[theme~="not-none"] + span {
  display: inline-block;
  margin: 0 var(--lumo-space-m);
}

.new-experiment-view .goal-fields-wrapper vaadin-number-field {
  flex: 1 0 auto;
}