.new-experiment-view .view-section {
    padding: var(--lumo-space-m);
    overflow: visible;
}

.new-experiment-view .page-title + vaadin-horizontal-layout {
    flex: 1;
}

.new-experiment-view .panel-title {
    max-width: 460px;
}

.new-experiment-view .panel-title + vaadin-horizontal-layout {
    height: 6.3rem;
}

.new-experiment-view .section-title-label {
    line-height: 1;
    margin-bottom: var(--lumo-space-xs);
}

.new-experiment-view .reward-function-wrapper {
    margin-top: 0;
}

.new-experiment-view .reward-function-wrapper .reward-fn-editor-panel {
    flex: 2 0 65.7%;
}
.new-experiment-view .reward-function-wrapper vaadin-custom-field {
    box-sizing: border-box;
    flex: 1 1 19rem;
    line-height: 1;
    padding: 0 var(--lumo-space-s) var(--lumo-space-s);
    border: 1px solid var(--pm-gray-color);
    border-radius: var(--lumo-border-radius);
    overflow-y: auto;
}

.new-experiment-view .reward-fn-panel-container {
    flex: 2;
}

.new-experiment-view .reward-variables-table.code-editor-mode .header-row {
    align-items: center;
    color: var(--pm-text-color);
    background-color: white;
    padding: var(--lumo-space-m) 0;
}

.new-experiment-view .reward-variables-table.code-editor-mode .header-row span:first-child {
    color: var(--pm-text-color);
}

.new-experiment-view .error-and-notes-container {
    flex: 0 0 18rem;
    overflow: auto;
}

.new-experiment-view .errors-wrapper {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.new-experiment-view .notes-wrapper {
    flex: 1;
}

.new-experiment-view .error-message-wrapper {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    white-space: pre;
    font-family: var(--code-font-family);
    padding: var(--lumo-space-s) var(--lumo-space-m);
    border: 1px solid var(--pm-gray-color);
    border-radius: var(--lumo-border-radius);
    overflow: auto;
}

.new-experiment-view .hasError {
    color: var(--pm-danger-color);
}

.new-experiment-view .noError {
    display: flex;
    color: var(--pm-friendly-color);
}

.new-experiment-view .noError iron-icon {
    margin-right: var(--lumo-space-xs);
}

.new-experiment-view .error-and-notes-container vaadin-button {
    min-width: calc(var(--lumo-button-size) * 1.625);
    height: 1.4rem;
    font-size: var(--lumo-font-size-s);
    padding: 0 var(--lumo-space-s);
}

.new-experiment-view .notes-block .header span:nth-of-type(2),
.new-experiment-view .notes-block .header vaadin-button {
    display: none !important;
}

.reward-editor-error {
    align-self: flex-end;
    color: var(--pm-danger-color);
    margin-top: 0px;
}

.reward-editor-error[hidden="true"] + * {
    margin-top: auto;
}

.reward-editor-error + * {
    margin-top: 0px;
}
