:host {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--pm-app-bg-color);
}
.panel-wrapper {
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 100%;
    background: var(--pm-app-bg-color);
    padding: var(--lumo-space-xl) var(--lumo-space-m) var(--lumo-space-m);
    overflow: auto;
}
.panel-wrapper h3 {
    font-weight: 600;
    margin: 0 auto var(--lumo-space-l);
}

.welcome-text {
    color: var(--pm-orange-color);
    font-size: var(--lumo-font-size-m);
}
.panel-wrapper .logo {
    width: 200px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0;
    margin-top: 0;
}

.inner-content {
    box-sizing: border-box;
    max-width: 380px;
    width: 100%;
    font-size: var(--lumo-font-size-s);
    text-align: center;
    background: #fff;
    padding: var(--lumo-space-xl) var(--lumo-space-l);
    border-radius: var(--lumo-border-radius);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-top: var(--lumo-space-xl);
}

/* For Account Pages */
span.section-title-label + .inner-content {
    padding: var(--lumo-space-l) var(--lumo-space-l) var(--lumo-space-s);
    margin-top: var(--lumo-space-m);
}

.block {
    justify-content: space-between;
}

.border-top {
    border-top: 1px solid #f2f2f2;
    padding-top: 10px;
}

.block vaadin-button {
    width: 6.5rem;
}

.title {
    font-weight: 700;
}

.data {
    padding-bottom: var(--lumo-space-m);
}

.support-cont {
    text-align: center;
}

.support,
.support-cont a {
    color: var(--lumo-secondary-text-color);
    margin: var(--lumo-size-xl) auto;
    text-decoration: underline;
}

.support {
    display: inline-block;
}

.support-cont {
    margin-top: var(--lumo-size-xl);
}

.support-cont a {
    margin: var(--lumo-size-m) var(--lumo-size-m);
}

.support:hover,
.support-cont a:hover {
    text-decoration: none;
}

vaadin-tabs,
vaadin-text-field,
vaadin-email-field,
vaadin-password-field {
    width: 100%;
}

#buttonsCont {
  margin-top: var(--lumo-space-l);
  width: 100%;
}

#buttonsCont vaadin-button {
    width: 100%;
    margin: 5px auto;
}

.error-message {
    color: var(--pm-danger-color);
    padding: 0 0px 10px;
}

.info-message {
    color: var(--lumo-primary-color);
    padding: 0 0px 10px;
}

.notes {
    font-size: 0.9em;
    color: var(--pm-secondary-text-color);
    margin-left: 15px;
}

.policy {
    font-size: var(--lumo-font-size-xs);
    color: var(--lumo-secondary-text-color);
    margin-top: var(--lumo-space-m);
}

.policy a {
    color: var(--pm-primary-color);
    text-decoration: none;
}

.policy a:hover {
    text-decoration: underline;
}