.project-view .view-section {
    padding: 0;
    border-radius: 0;
}

.project-view .view-section + .view-section {
    flex: 0;
}

.project-view .view-section:last-child {
    padding: var(--lumo-space-m) var(--lumo-space-l);
}

.project-view .section-subtitle-label + tag-label {
    margin-left: var(--lumo-space-xs);
}

.project-view .truncated-label {
    max-width: 100%;
    width: auto;
}

.project-view .section-title-label + vaadin-button {
    min-width: var(--lumo-button-size);
    height: 1.4rem;
    line-height: calc(1.4rem - 2px);
    font-size: var(--lumo-font-size-s);
    font-weight: normal;
    padding: 0 var(--lumo-space-xs);
    margin: 0 0 0 var(--lumo-space-xs);
}

.project-view .reward-variables-table {
    max-height: 26rem;
    line-height: 1;
    color: var(--lumo-secondary-text-color);
    padding: var(--lumo-space-xs);
    overflow-y: auto;
}

.project-view .model-reward-variables span:first-child {
    display: inline-block;
    width: 30px;
    color: var(--lumo-secondary-text-color);
}
.project-view .reward-variables-table .goal-display-span {
    display: none;
}
.project-view .model-reward-variables .reward-variables-table[readonly] vaadin-horizontal-layout {
    height: auto;
    line-height: 1.1;
}

.project-view .observations-panel-wrapper {
    border-top: 1px solid var(--pm-grey-color-lightest);
}

.project-view .observations-panel-wrapper .bold-label {
    /* same as .panel-title-label but since this panel is reused on Experiment &
       New Experiment view, we're going to keep it as .bold-label for now */
    box-sizing: border-box;
    position: sticky;
    top: 0;
    width: 100%;
    font-size: var(--lumo-font-size-s);
    font-weight: normal;
    color: var(--lumo-secondary-text-color);
    line-height: 1;
    background: var(--pm-app-bg-color);
    padding: var(--lumo-space-xs);
    border-bottom: 1px solid var(--pm-grey-color-lightest);
}

.project-view .observations-panel-wrapper vaadin-horizontal-layout {
    flex-wrap: wrap;
    padding: var(--lumo-space-xs) 0 0 var(--lumo-space-xs);
}

.project-view .observations-panel-wrapper .observation-label {
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-s);
    line-height: 1;
    padding: 0.4em;
    border: 1px solid currentColor;
    border-radius: var(--lumo-border-radius);
    margin-right: var(--lumo-space-xs);
    margin-bottom: var(--lumo-space-xs);
}

.project-view .notes-field-wrapper {
    flex: 1 1 auto;
}

.project-view .model-wrapper {
    height: auto !important;
}

.project-view .model-wrapper > [slot="secondary"] {
    height: calc(100vh - 11rem);
}

.project-view .model-wrapper > [slot="secondary"] > vaadin-vertical-layout {
    flex: 1 1 50%;
    overflow: auto;
}

.project-view .model-wrapper > [slot="secondary"] .panel-title-label {
    position: sticky;
    top: 0;
}

.project-view .metric-selection-row,
.project-view .column-selection-row {
    padding: 0 var(--lumo-space-s);
}

.project-view .metric-selection-row .bold-label,
.project-view .column-selection-row .bold-label {
    flex: 0 0 7rem;
    width: 7rem;
    font-size: var(--lumo-font-size-s);
}

.project-view vaadin-list-box {
    width: calc(100% - 7rem);
}

.project-view .reward-variables-table {
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--lumo-space-xs) 0 0 var(--lumo-space-xs);
}

.project-view .reward-variables-table .header-row {
    display: none;
}

.project-view .reward-variables-table .header-row span:last-child {
    justify-content: flex-end;
}

.project-view .reward-variables-table > vaadin-horizontal-layout:not(.header-row) {
    width: auto !important;
    margin-right: var(--lumo-space-xs);
}

.project-view .page-content-header {
    flex: 1 0 auto;
    padding: 0 0 0 var(--lumo-space-m) ;
    margin-bottom: 0;
    border-bottom: 1px solid var(--pm-grey-color-lightest);
}

.project-view .page-content-header > vaadin-vertical-layout {
    flex: 0 0 auto;
    width: auto !important;
    padding: var(--lumo-space-m) 0;
}

.project-view .page-content-header + vaadin-horizontal-layout {
    flex: 1 0 auto;
}

.project-view vaadin-grid {
    flex: 1 1 100%;
}

.project-view .model-wrapper .section-title-label {
    font-size: var(--lumo-font-size-l);
}

.project-view vaadin-tabs {
    height: var(--lumo-size-l);
    margin-bottom: 0;
}

.project-view .model-wrapper .new-experiment-button {
    flex: 1 0 auto;
    padding-right: var(--lumo-space-s);
    border-radius: 0;
    margin: 0;
    box-shadow: inset 0 -2px 0 0 var(--pm-grey-color-lighter);
}

.project-view .observations-panel {
    max-height: 19.5rem;
    padding: 0 0 0 var(--lumo-space-xs);
    border: none;
}

.project-view .observations-table {
    padding-top: 0;
}

.models-navbar {
    height: calc(100vh - 10.6rem);
    background-color: var(--pm-app-bg-color);
    border-right: 1px solid var(--pm-grey-color-lightest);
}

.models-navbar vaadin-select {
    width: 100%;
}

.models-navbar vaadin-select:not([show-archived]) ~ .models-navbar-items models-navbar-item[is-archived] {
    display: none;
}

.models-navbar vaadin-select[show-archived] ~ .models-navbar-items models-navbar-item[is-archived] {
    display: flex;
}

.models-navbar vaadin-select[show-archived] ~ .models-navbar-items models-navbar-item:not([is-archived]) {
    display: none;
}

.models-navbar-items {
    height: 100%;
    overflow: auto;
}

.models-navbar > vaadin-button {
    width: 100%;
    border-radius: 0; /* TODO -> add a CSS class to the vaadin button after navbar refactoring */
    margin: 0;
}