.search-results-view {
    padding: 0 var(--lumo-space-m) var(--lumo-space-m);
}

.search-results-view .view-section {
    max-width: 960px;
    background: transparent;
    padding: 0;
    margin-top: var(--lumo-space-m);
}

.search-results-view .section-title-label {
    line-height: 1;
}

.search-results-view .section-subtitle-label {
    line-height: 1;
    margin-top: var(--lumo-space-xxs);
}

.search-results-view .highlighted-text-wrapper {
    white-space: pre-wrap;
}

.search-results-view .search-result-item {
    background: white;
    border-radius: var(--lumo-border-radius);
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 3px 5px var(--lumo-shade-10pct);
    padding: var(--lumo-space-m);
    align-items: center;
}

.search-results-view .search-result-item:hover {
    box-shadow: 0 4px 7px var(--lumo-shade-30pct);
}

.search-results-view .search-result-item .info-row .tag {
    padding: 0 4px;
    margin-left: var(--lumo-space-xs);
    border-radius: var(--lumo-border-radius-s);
}

.search-results-view .search-result-item .info-row .tag-outline {
    color: var(--lumo-primary-color);
}

.search-results-view .search-result-item .info-row .tag:first-child {
    margin-left: var(--lumo-space-m);
}

.search-results-view .search-result-item .info-row vaadin-horizontal-layout:last-child span {
    width: 12rem;
    margin-left: var(--lumo-space-xs);
}

.search-results-view .search-result-item .name-row {
    font-size: var(--lumo-font-size-m);
    color: var(--lumo-body-text-color);
    margin: var(--lumo-space-xxxs) 0 var(--lumo-space-xs) 0;
}

.search-box {
    height: 2.3rem;
    border: 1px solid var(--pm-gray-color);
    border-radius: var(--lumo-border-radius);
}