.inner-content {
  align-items: center;
  text-align: left;
}

h3 + vaadin-password-field {
  padding-top: 0;
}

#buttonsCont + p {
  margin-bottom: var(--lumo-space-m);
}

vaadin-button[theme~="tertiary"] {
    color: var(--lumo-body-text-color);
}

.notes {
  margin: 0;
}

#email[invalid] + .notes {
    display: none;
}

.do-not-share-url {
  display: flex;
  align-self: flex-start;
  font-size: var(--lumo-font-size-s);
  color: var(--pm-primary-color);
}

.do-not-share-url iron-icon {
  width: 16px;
  margin-right: var(--lumo-space-xs);
}