.experiments-navbar {
  width: auto !important;
  background: white;
  border-radius: var(--lumo-border-radius);
  padding: var(--lumo-space-s);
}

.experiments-navbar vaadin-button {
  margin: 0 auto var(--lumo-space-s);
}

.experiments-navbar-items {
  height: 100%;
  overflow-y: auto;
}

.experiment-navbar-item {
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 65px;
  padding: 0 var(--lumo-space-s);
  border-top: 0.5px solid var(--pm-gray-color-light);
  cursor: pointer;
}

.experiment-navbar-item:last-child {
  border-bottom: 0.5px solid var(--pm-gray-color-light);
}

.experiment-navbar-item:not(.current):hover {
  background-color: var(--pm-highlight-medium);
}

.current {
  background-color: var(--pm-app-bg-color);
}

.icon-loading-spinner {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
}

.icon-loading-spinner::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  background-image: url("/frontend/icons/icon-loading.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

iron-icon[icon="vaadin:check-circle"] {
  color: var(--pm-green-color);
}

iron-icon[icon="vaadin:exclamation-circle-o"] {
  color: var(--pm-red-color);
}

.experiment-name {
  margin-left: calc(var(--lumo-space-s) * 2);
}

.experiment-name p {
  line-height: 1em;
  margin: 0;
}

.current .experiment-name p:first-child {
  font-weight: bold;
}

.experiment-name p:last-child {
  font-size: var(--lumo-font-size-s);
  color: var(--pm-gray-color-dark);
  margin-top: var(--lumo-space-xs);
}
