.experiments-navbar {
    width: auto !important;
    height: calc(100vh - 8rem);
    min-height: 100%;
    border-radius: var(--lumo-border-radius);
}

.experiments-navbar > vaadin-button {
    min-width: 15.5rem;
    margin: 0 0 var(--lumo-space-s);
}

.experiments-navbar-items {
    height: 100%;
    background-color: var(--pm-app-bg-color);
    overflow-y: auto;
}

.experiment-navbar-item {
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    padding: 0.5rem var(--lumo-space-xs);
    cursor: pointer;
    border: 1px solid transparent;
    margin-top: -1px;
}

.experiment-navbar-item:first-of-type {
    margin-top: 0;
}

.experiment-navbar-item vaadin-button {
    font-size: var(--lumo-font-size-s);
    margin-left: auto;
}

.experiment-navbar-item.current,
.experiment-navbar-item:hover {
    background-color: white;
    border-color: var(--pm-gray-color-lighter);
}

.experiments-navbar iron-icon[icon="vaadin:pencil"] {
    --iron-icon-width: 1.125rem;
    --iron-icon-height: 1.125rem;
    margin: 0.1875rem;
}

.icon-loading-spinner,
.icon-stopped {
    display: block;
    position: relative;
    width: var(--lumo-size-xs);
    height: var(--lumo-size-xs);
}

.experiment-view .training-starting-placeholder span::before,
.icon-loading-spinner::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    width: var(--lumo-size-xs);
    height: var(--lumo-size-xs);
    top: 0;
    left: 0;
    border: 2px solid var(--pm-gray-color-light);
    border-radius: 50%;
    border-top: 2px solid var(--pm-primary-color);
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.icon-stopped {
    background: var(--pm-gray-color);
    border-radius: 50%;
}

.icon-stopped::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    width: var(--lumo-font-size-xs);
    height: var(--lumo-font-size-xs);
    top: var(--lumo-space-xs);
    left: var(--lumo-space-xs);
    border: 1px solid white;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

iron-icon[icon="vaadin:check-circle"] {
    color: var(--pm-green-color);
}

iron-icon[icon="vaadin:exclamation-circle-o"] {
    color: var(--pm-danger-color);
}

.experiment-name {
    margin-left: var(--lumo-space-xs);
}

.experiment-name p {
    display: flex;
    align-items: center;
    font-size: var(--lumo-font-size-s);
    line-height: 1em;
    margin: 0;
}

.experiment-name p:last-child {
    font-size: var(--lumo-font-size-xs);
    color: var(--pm-gray-color-dark);
    margin-top: 2px;
}
