.story-wrapper {
    font-family: var(--lumo-font-family);
    padding: var(--lumo-space-m);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 var(--lumo-space-m) 0;
}
.block-wrapper {
    margin-bottom: var(--lumo-space-xxl);
}
.row-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: var(--lumo-space-xs);
}
.col-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: var(--lumo-space-m);
}
.col-wrapper > :last-child {
    width: 100%;
    margin-bottom: 0;
}
.col-wrapper > :last-child code {
    padding: var(--lumo-space-m);
}
h2 + .col-wrapper,
h3 + .col-wrapper {
    margin-top: 0;
}
.block-wrapper h3 {
    margin: var(--lumo-space-l) 0 0;
}