.section-label-title {
    font-size: 22px;
    font-weight: bold;
    color: #777;
}

.section-label-subtitle {
    font-size: 22px;
    color: #999;
}

.section-label-title {
    font-size: 22px;
}

.project-title-label {
    font-size: 18px;
    font-weight: bold;
    color: #999;
}

.action-menu {
    background-color: #ccc;
}

.light-text-label {
    font-size: 12px;
    color: #ccc;
}

.logo-label {
    font-size: 24px;
}

.form-component {
    border: 1px solid black;
}

.form-label {
    border: 1px solid black;
}

.section-title-label {
    font-size: 22px;
}

.section-subtitle-label {

}

.centered-field-label {
    width: 100px;
}