.guide-menu {
  align-self: flex-start;
  flex: 0 0 auto;
  position: sticky;
  width: auto !important;
  top: 31px;
  padding: var(--lumo-space-xl);
  padding-left: var(--lumo-space-xxl);
}
.guide-menu a {
  display: block;
  position: relative;
  color: var(--pm-blue-color-darkest-25pct);
  line-height: 1.3em;
  margin: 0 0 1em;
  text-decoration: none;
}
.guide-menu a:last-of-type {
  margin-bottom: 0;
}
.guide-menu a:hover {
  color: var(--pm-blue-color-darkest-50pct);
}
.guide-menu a:not(.skipLink)::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: -30px;
  border: 1px solid var(--pm-gray-color);
  transform: translateY(-50%);
}
.guide-menu a[highlight] {
  color: var(--pm-blue-color-darkest);
  font-weight: 700;
}
.guide-menu .completed::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 17px;
  top: 50%;
  left: -26px;
  background-image: url("/frontend/icons/checkmark_grey.svg");
  background-size: cover;
  transform: translateY(-60%);
}
.guide-menu a:not(.skipLink):not([highlight])::before,
.guide-menu a:not(.skipLink):not([highlight])::after {
  opacity: 0.25;
}
.guide-menu a:hover::before,
.guide-menu a:hover::after {
  opacity: 0.5;
}
.guide-menu .skipLink {
  color: var(--pm-blue-color-darkest);
  font-size: var(--lumo-font-size-s);
  margin-top: var(--lumo-space-xxl);
}
.guide-menu .skipLink:hover {
  opacity: 0.5;
}
