#header [part~="cell"] {
   color: var(--pm-secondary-text-color);
}

#items [part~="cell"] {
   border-left: var(--_lumo-grid-border-width) solid var(--_lumo-grid-border-color);
   border-top: none;
}

#items [part~="cell"]:last-child {
   border-right: var(--_lumo-grid-border-width) solid var(--_lumo-grid-border-color);
}

#items [part~="row"]:last-child [part~="cell"] {
   border-bottom: var(--_lumo-grid-border-width) solid var(--_lumo-grid-border-color);
}

#items [part~="row"][ODD]:not([selected]) [part~="body-cell"], #items [part~="row"][ODD] [part~="details-cell"] {
   background: var(--pm-highlight-light);
}

:host {
   border-color: transparent !important;
   width: 100%;
   height: 100%;
   min-height: 500px;
}