/* Search box button*/
:host(.search-box_button) {
   background: transparent;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   box-shadow: inset 0px 0px 0px 1px rgba(26,41,73, 1);
   margin-left: 1px;

   --iron-icon-fill-color: var(--pm-text-color);
}