:host {
  width: 100%;
  max-width: 100%;
}

:host [part="form"] {
  padding: 0;
}

:host [part="form"] [part="form-title"] {
  display: none;
}

:host [part="footer"] {
  display: none;
}

:host #forgotPasswordButton {
  color: var(--pm-text-color);
}
