.breadcrumb {
    position: relative;
    max-width: 20rem;
    font-family: var(--lumo-font-family-header);
    color: var(--lumo-body-text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-title .breadcrumb:last-child {
    max-width: none;
    cursor: pointer;
}

.breadcrumb:hover,
.breadcrumb:last-child {
    color: var(--lumo-primary-text-color);
}

.breadcrumb:not(:first-child),
.breadcrumb ~ span {
    margin-left: var(--lumo-space-s);
}
