.notes-field-wrapper,
.notes-block {
  flex: 1;
  width: 100%;
}

.notes-block .header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.notes-block .header span:first-child {
  font-weight: bold;
  color: var(--pm-text-color);
  margin-left: 0;
}

.new-experiment-view .notes-block .header span:first-child {
  font-size: 1.125rem;
}

.notes-block .header vaadin-button {
  min-width: 45px;
  height: 1.4rem;
  font-size: var(--lumo-font-size-s);
  padding: 0 var(--lumo-space-xs);
  margin: 0;
}

.notes-block vaadin-text-area {
  width: 100%;
  height: 100%;
}

.notes-block .hint-label {
  align-self: center;
  margin-left: auto;
  margin-right: var(--lumo-space-m);
}

.unsaved-draft-label.unsaved-and-too-big-text-label {
  align-self: center;
  color: var(--pm-danger-color);
  margin-left: var(--lumo-space-m);
}
