.reward-variables-table {
  max-height: 280px;
  overflow-y: auto;
}

.reward-function-wrapper .reward-variables-table {
  max-height: 100%;
  overflow-y: initial;
}

.reward-variables-table .header-row {
  position: sticky;
  top: 0;
  border-top: 1px solid var(--pm-gray-color);
  z-index: 1;
}
.code-editor-mode .header-row {
  border-top: unset;
}

.reward-variables-table vaadin-horizontal-layout {
  height: 32px;
  border-left: 1px solid var(--pm-gray-color);
  border-right: 1px solid var(--pm-gray-color);
  border-bottom: 1px solid var(--pm-gray-color);
}

.reward-variables-table .header-row {
  color: var(--pm-secondary-text-color);
  background-color: white;
}
.code-editor-mode .header-row {
  background-color: transparent;
  border-left: unset;
  border-right: unset;
}

.reward-variables-table span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--lumo-space-s);
}

.reward-variables-table span:first-child {
  flex: 0 0 60px;
  text-align: center;
  border-right: 1px solid var(--pm-gray-color);
}
.code-editor-mode span:first-child {
  border-right: none !important;
}

.reward-variables-table :not(.header-row) span:first-child {
  background-color: var(--pm-gray-color-lighter);
}
.code-editor-mode :not(.header-row) span:first-child {
  background-color: transparent !important;
}

.reward-variables-table vaadin-text-field {
  padding: 0;
}
