@import "vaadin-grid-red-to-green-gradient.css";
/* Customized Scrollbar for WebKit Browsers */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--pm-app-bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--pm-grey-color-light);
}

#header [part~="cell"] {
    color: var(--pm-grey-color);
    border: none;
}

:host(:not(.search-results)) #header [part~="row"],
:host(:not(.search-results)) #items [part~="row"] {
    border-bottom: var(--_lumo-grid-border-width) solid var(--_lumo-grid-border-color);
}

#items [part~="cell"] {
    font-size: var(--lumo-font-size-s);
    color: var(--pm-grey-color-darker);
    border-top: none;
}

:host(:not(.search-results)) #items [part~="cell"].align-right {
    text-align: right;
}

:host(:not(.search-results)) #items [part~="row"]:hover [part~="body-cell"]:not([class*="metric-cell-step"]) {
    background: var(--lumo-shade-5pct);
}

:host {
    --_lumo-grid-border-color: var(--pm-grey-color-lightest);
    border-color: transparent !important;
    width: 100%;
    height: 100%;
}

/* grid header when the column is being sorted */
vaadin-grid-cell-content vaadin-grid-sorter[direction] {
    color: var(--pm-text-color);
    font-weight: bold;
}

:host(:not(.search-results)) [part~="cell"] ::slotted(vaadin-grid-cell-content) {
    padding: var(--lumo-space-xs) var(--lumo-space-m);
    cursor: pointer;
}

[part~="header-cell"] ::slotted(vaadin-grid-cell-content) {
    padding: var(--lumo-space-xxxs) var(--lumo-space-m);
}

:host([theme~="projects"]) [part~="header-cell"]:nth-of-type(2),
:host([theme~="projects"]) [part~="header-cell"]:nth-of-type(3),
:host([theme~="projects"]) [part~="header-cell"]:nth-of-type(4) {
    text-align: right;
}

.grid-reward-fn-column[part~="cell"] ::slotted(vaadin-grid-cell-content) {
    max-height: 8rem;
    padding: 0 !important;
    overflow: auto;
}

.grid-notes-column[part~="cell"] ::slotted(vaadin-grid-cell-content) {
    overflow: hidden;
}

:host(.search-results) {
    background: transparent;
    max-width: 960px;
    margin: auto;
}

:host(.search-results) [part~="row"][selected] [part~="cell"] {
    background: transparent !important;
}
:host(.search-results) [part~="body-cell"] {
    background: transparent;
}

:host(.search-results) [part~="cell"]:not([part~="details-cell"]) {
    white-space: normal;
}

:host(.search-results) #items [part~="row"]:last-child [part~="cell"] {
    border-bottom: none;
}

:host(:not([theme~="projects"])) [part~="cell"]:not([part~="details-cell"]):not([part~="header-cell"]) {
    align-items: flex-start;
}