:host [part="input-field"] {
  background: var(--pm-highlight-medium);
}

:host [part="label"] {
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-xs);
}

/* Search box text field */
:host(.search-box_text-field) vaadin-text-field-container {
  border: 1px solid var(--pm-text-color);
}

:host(.search-box_text-field) [part="input-field"] {
  background: transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: inset 0px 0px 0px 1px rgba(26, 41, 73, 1);
}

:host(.reward-variable-name-field) [part="value"] {
  min-height: auto;
  padding: 0;
}

:host(.reward-variable-name-field) [part="input-field"] {
  padding: 0.4em;
  border-radius: 4px;
}

:host(.reward-variable-name-field[class$="0"]) [part="input-field"] {
  color: #000;
  background-color: #67ea93;
}
:host(.reward-variable-name-field[class$="1"]) [part="input-field"] {
  color: #fff;
  background-color: #214e96;
}
:host(.reward-variable-name-field[class$="2"]) [part="input-field"] {
  color: #000;
  background-color: #9bf7ec;
}
:host(.reward-variable-name-field[class$="3"]) [part="input-field"] {
  color: #fff;
  background-color: #7550e5;
}
:host(.reward-variable-name-field[class$="4"]) [part="input-field"] {
  color: #000;
  background-color: #b0f78c;
}
:host(.reward-variable-name-field[class$="5"]) [part="input-field"] {
  color: #000;
  background-color: #ef99a4;
}
:host(.reward-variable-name-field[class$="6"]) [part="input-field"] {
  color: #000;
  background-color: #9bc0f7;
}
:host(.reward-variable-name-field[class$="7"]) [part="input-field"] {
  color: #fff;
  background-color: #931901;
}
:host(.reward-variable-name-field[class$="8"]) [part="input-field"] {
  color: #fff;
  background-color: #f413bc;
}
:host(.reward-variable-name-field[class$="9"]) [part="input-field"] {
  color: #000;
  background-color: #d1b112;
}
