:host [part="input-field"] {
    background: var(--pm-highlight-medium);
    border: 1px solid var(--pm-gray-color);
}

:host [part="label"] {
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-xs);
}

/* Search box text field */
:host(.search-box_text-field) {
    padding: 0;
}
:host(.search-box_text-field) [part="input-field"] {
    height: 100%;
    background: transparent;
    border: none;
}

:host(.search-box_text-field) .vaadin-text-field-container {
    width: 9rem;
}

:host(.reward-variable-name-field) [part="value"] {
    min-height: auto;
    padding: 0;
}

:host(.reward-variable-name-field) [part="input-field"] {
    height: 1.75rem;
    padding: 0.4em;
    border-radius: 0 3px 3px 0;
    border: 1px solid var(--pm-gray-color);
}

:host(.reward-variable-name-field[readonly]) [part="input-field"] {
    color: inherit;
}

:host(.reward-variable-name-field[readonly]) [part="input-field"]::after {
    content: none;
}

:host(.action-name-field) [part="value"] {
    min-height: auto;
    padding: 0;
}

:host(.action-name-field) [part="input-field"] {
    height: 1.75rem;
    padding: 0.4em;
    border-radius: 0 3px 3px 0;
    border: 1px solid var(--pm-gray-color);
}

:host([theme~="code"]){
    font-size: var(--lumo-font-size-s);
    font-family: var(--code-font-family);
}
