:host(.account-menu) span {
  color: var(--pm-text-color);
  margin-left: var(--lumo-space-xs);
}

:host(.account-menu) iron-icon {
  --iron-icon-height: 1rem;
  --iron-icon-width: 1rem;
  fill: var(--pm-text-color);
}

:host(.account-menu) [part="menu-bar-button"],
:host(.account-menu)
  [part="menu-bar-button"][expanded][theme~="tertiary-inline"],
:host(.account-menu) [part="menu-bar-button"][expanded][theme~="tertiary"] {
  background: transparent !important;
  cursor: pointer;
}
