:host([theme~="notes"]) {
    box-sizing: border-box;
    width: 100%;
    line-height: 1.5em;
    background-color: white;
    padding: 0;
    border-radius: var(--lumo-border-radius);
    border: 1px solid var(--pm-gray-color);
}

:host([theme~="notes"]) [part="input-field"],
:host([theme~="notes"]) [part="input-field"] ::slotted(textarea) {
    line-height: 1.5em;
    height: 12em;
    background-color: white;
    padding: var(--lumo-space-s) var(--lumo-space-m);
}

:host([theme~="notes"]:hover:not([readonly]):not([focused])) [part="input-field"] {
    background-color: rgba(255, 255, 255, 0.8);
}

:host([theme~="notes"]) [part="input-field"] [part="value"],
:host([theme~="notes"]) [part="input-field"] ::slotted(textarea) {
    padding: 0;
}
