:host([theme~="split-button"]) {
    --vaadin-select-text-field-width: 14rem !important;
}

:host([theme~="new-experiment-split-button"]) {
    left: auto !important;
    right: var(--lumo-space-m) !important;
}