:host {
  border: 1px solid var(--lumo-contrast-20pct);
  border-radius: var(--lumo-border-radius);
}

:host .highcharts-background {
  fill: var(--pm-highlight-light);
}

.highcharts-grid-line {
  stroke-dasharray: 4 4;
}

.highcharts-point {
}
.pm-active-series {
  opacity: 1;
}
.pm-passive-series {
  opacity: 0.2;
}
