:host {
    box-sizing: border-box;
    width: 100%;
    line-height: 1.5em;
    padding: 0;
    border-radius: var(--lumo-border-radius);
    border: 1px solid var(--pm-grey-color);
}

:host [part="input-field"],
:host [part="input-field"] ::slotted(textarea) {
    line-height: 1.5em;
    height: 12em;
    background-color: var(--lumo-contrast-5pct);
    padding: 0.5rem var(--lumo-space-s);
}

:host([theme~="autoheight"]) [part="input-field"],
:host([theme~="autoheight"]) [part="input-field"] ::slotted(textarea) {
    height: auto;
}

:host(:hover:not([readonly]):not([focused])) [part="input-field"] {
    background-color: var(--lumo-contrast-10pct);
}

:host [part="input-field"] [part="value"],
:host [part="input-field"] ::slotted(textarea) {
    padding: 0;
}
