:host {
  margin-bottom: var(--lumo-space-m);
}

:host(:not([orientation="vertical"])) {
  box-shadow: inset 0 -2px 0 0 var(--lumo-primary-color-20pct);
}

:host([theme~="small"]),
:host([theme~="small"]) [part="tabs"] {
  min-height: var(--lumo-size-s);
}
