:host {
    padding: 0;
}

:host([theme~="searchBox"]) [part="input-field"] {
    height: 100%;
    background: transparent;
    border: none;
    border-radius: 0;
}

:host([theme~="searchBox"]) {
    color: var(--lumo-secondary-text-color);
}

:host([theme~="searchBox"]) .vaadin-text-field-container {
    width: var(--vaadin-text-field-default-width, 8em);
}

:host([theme~="goals"]) [part="input-field"] ::slotted([part="value"]),
:host([theme~="searchBox"]) [part="input-field"] ::slotted([part="value"]) {
    --_lumo-text-field-overflow-mask-image: none;
    -webkit-mask-image: none;
    padding: 0 0.1em;
}

:host(:hover:not([readonly])[theme~="searchBox"]) {
    color: var(--lumo-body-text-color);
}

:host(:hover:not([readonly]):not([focused])[theme~="searchBox"]) [part="input-field"]::after {
    opacity: 0;
}

/* Goals */
:host([theme~="goals"]) .vaadin-text-field-container {
    width: 5em;
}

:host([theme~="goals"]) [part="input-field"] {
    height: var(--lumo-text-field-size);
    border-radius: var(--lumo-border-radius);
}

:host([theme~="goals"][theme~="not-none"]) [part="input-field"] {
    border-radius: var(--lumo-border-radius) 0 0 var(--lumo-border-radius);
}

:host([theme~="models-nav-bar-select"]) [part="input-field"] {
    color: var(--lumo-secondary-text-color);
    background-color: transparent;
    padding: var(--lumo-space-xxxs) .5rem var(--lumo-space-xxxs) var(--lumo-space-s);
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--pm-grey-color-lighter);
}

:host([theme~="models-nav-bar-select"]:hover) [part="input-field"] {
    color: var(--lumo-body-text-color);
    background-color: var(--pm-grey-color-lightest);
}

:host([theme~="split-button"]) [part="input-field"] ::slotted([part="value"]) {
    display: none;
}

:host([theme~="action-dropdown"]) {
    align-items: center;
}

:host([theme~="action-dropdown"]) .vaadin-text-field-container,
:host([theme~="split-button"]) .vaadin-text-field-container {
    width: auto;
}

:host([theme~="split-button"]) [part="input-field"] {
    height: 1.8rem;
    background: var(--lumo-primary-color);
    border: none;
    border-left: 1px solid var(--pm-grey-color-light);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

:host([theme~="action-dropdown"]) [part~="value"],
:host([theme~="split-button"]) [part~="value"],
:host([theme~="action-dropdown"]) ::slotted([part~="value"]),
:host([theme~="split-button"]) ::slotted([part~="value"]) {
    display: none;
}