:host([theme~="notes"]) {
  width: 100%;
  line-height: 1.5em;
  background-color: white;
  padding: 0;
  border-radius: var(--lumo-border-radius);
}

:host([theme~="notes"]) [part="input-field"],
:host([theme~="notes"]) [part="input-field"] ::slotted(textarea) {
  line-height: 1.5em;
  height: 12em;
  background-color: white;
  padding: var(--lumo-space-l);
}

:host([theme~="notes"]) [part="input-field"] [part="value"],
:host([theme~="notes"]) [part="input-field"] ::slotted(textarea) {
  padding: 0;
}
