:host(.account-menu) span {
  align-self: center;
  font-family: var(--lumo-font-family-header);
  font-size: var(--lumo-font-size-s);
  font-weight: 400;
  color: var(--pm-text-color);
  margin-left: var(--lumo-space-xs);
}

:host(.account-menu) iron-icon {
  --iron-icon-height: 1rem;
  --iron-icon-width: 1rem;
  align-self: center;
  fill: var(--pm-text-color);
}

:host(.account-menu) [part="menu-bar-button"],
:host(.account-menu)
  [part="menu-bar-button"][expanded][theme~="tertiary-inline"],
:host(.account-menu) [part="menu-bar-button"][expanded][theme~="tertiary"] {
  background: transparent !important;
  cursor: pointer;
}
