html {
    /* pathmind-colors */
    --pm-primary-color-dark: #2f779a;
    --pm-primary-color: #4f97aa;
    --pm-primary-color-bright: #38a9c1;
    --pm-text-color: #1a2949;
    --pm-secondary-text-color: #888888;
    --pm-app-bg-color: #f6f8fa;
    --pm-highlight-light: rgba(240, 241, 246, 0.25);
    --pm-highlight-medium: rgba(240, 241, 246, 0.5);
    --pm-friendly-color: #3a966b;
    --pm-friendly-color-bright: #b2ea17;
    --pm-danger-color: #d80947;

    /* pathmind color palette */
    --pm-gold-color: #febb2b;
    --pm-orange-color: #ed7820;
    --pm-grey-color-darkest: #404040;
    --pm-grey-color-darker: #666666;
    --pm-grey-color-dark: #888888;
    --pm-grey-color: #b3b6c2;
    --pm-grey-color-light: #d0d0d0;
    --pm-grey-color-lighter: #dee3ed;
    --pm-grey-color-lightest: #eaeeef;
    --pm-green-color: #00a60b;
    --pm-yellow-color: #fff51f;
    --pm-blue-color-dark: #1a49a9;
    --pm-blue-color-light: #e0eafb;

    /* pathmind reward variable colors */
    --variable-color-0: #17a747;
    --variable-color-1: #214e96;
    --variable-color-2: #318c81;
    --variable-color-3: #7550e5;
    --variable-color-4: #62a540;
    --variable-color-5: #e0667d;
    --variable-color-6: #5f8fd6;
    --variable-color-7: #931901;
    --variable-color-8: #bd52a3;
    --variable-color-9: #887100;

    /* pathmind typography */
    --pm-line-height-xl: 2em;
    --pm-line-height-l: 1.5em;
    --pm-line-height-m: 1.3em;
    --pm-line-height-s: 1.15em;

    --code-font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;

    /* pathmind-theme */
    --lumo-font-family-header: Segoe UI, "Helvetica Neue", Helvetica, sans-serif;
    --lumo-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    --lumo-font-size-xxl: 1.875rem;
    --lumo-font-size-xl: 1.5rem;
    --lumo-font-size-l: 1.25rem;
    --lumo-font-size-m: 1rem;
    --lumo-font-size-s: 0.875rem;
    --lumo-font-size-xs: 0.75rem;
    --lumo-size-xl: 3rem;
    --lumo-size-l: 2.5rem;
    --lumo-size-m: 2rem;
    --lumo-size-s: 1.75rem;
    --lumo-size-xs: 1.5rem;
    --lumo-space-xxl: 4rem;
    --lumo-space-xl: 2.5rem;
    --lumo-space-l: 1.75rem;
    --lumo-space-m: 1.125rem;
    --lumo-space-s: 0.75rem;
    --lumo-space-xs: 0.375rem;
    --lumo-space-xxs: 0.25rem;
    --lumo-space-xxxs: 0.125rem;
    --lumo-icon-size-l: 1.75rem;
    --lumo-success-color-50pct: rgba(53, 151, 106, 0.5);
    --lumo-success-color-10pct: rgba(53, 151, 106, 0.1);
    --lumo-success-color: var(--pm-friendly-color);
    --lumo-error-text-color: var(--pm-danger-color);
    --lumo-error-color-50pct: rgba(216, 9, 71, 0.5);
    --lumo-error-color-10pct: rgba(216, 9, 71, 0.1);
    --lumo-error-color: var(--pm-danger-color);
    --lumo-header-text-color: var(--pm-text-color);
    --lumo-body-text-color: var(--pm-text-color);
    --lumo-secondary-text-color: var(--pm-grey-color-dark);
    --lumo-tertiary-text-color: #d7d7d7;
    --lumo-disabled-text-color: var(--pm-grey-color);
    --lumo-base-color: #ffffff;
    --lumo-primary-text-color: var(--pm-primary-color);
    --lumo-primary-color-75pct: rgba(79, 151, 170, 0.75);
    --lumo-primary-color-50pct: rgba(79, 151, 170, 0.5);
    --lumo-primary-color-25pct: rgba(79, 151, 170, 0.25);
    --lumo-primary-color-20pct: rgba(79, 151, 170, 0.2);
    --lumo-primary-color-10pct: rgba(79, 151, 170, 0.1);
    --lumo-primary-color: var(--pm-primary-color);
    --lumo-border-radius: 6px;
}

input:-internal-autofill-selected {
    background: var(--pm-highlight-medium);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px #f7f8fa;
}

img {
    display: block;
}

ol,
ul {
    padding: 0 0 0 var(--lumo-font-size-m);
}

ol > li:not(:first-child) {
    margin-top: var(--lumo-space-m);
}

hr {
    margin: var(--lumo-space-s) 0;
    background-color: var(--pm-grey-color-darker);
}

/* Customized Scrollbar for WebKit Browsers */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
background-color: var(--pm-app-bg-color);
}

::-webkit-scrollbar-thumb {
background-color: var(--pm-grey-color-light);
}

.variable-color-0 {
    color: #000;
    background-color: var(--variable-color-0);
}
.variable-color-1 {
    color: #fff;
    background-color: var(--variable-color-1);
}
.variable-color-2 {
    color: #000;
    background-color: var(--variable-color-2);
}
.variable-color-3 {
    color: #fff;
    background-color: var(--variable-color-3);
}
.variable-color-4 {
    color: #000;
    background-color: var(--variable-color-4);
}
.variable-color-5 {
    color: #000;
    background-color: var(--variable-color-5);
}
.variable-color-6 {
    color: #000;
    background-color: var(--variable-color-6);
}
.variable-color-7 {
    color: #fff;
    background-color: var(--variable-color-7);
}
.variable-color-8 {
    color: #fff;
    background-color: var(--variable-color-8);
}
.variable-color-9 {
    color: #000;
    background-color: var(--variable-color-9);
}

.internal-banner {
    font-size: var(--lumo-font-size-s);
    color: var(--lumo-body-text-color);
    background-color: var(--pm-gold-color);
}

[icon="vaadin:star"] {
    color: var(--pm-gold-color);
}

.project-view [icon="vaadin:star"] {
    --iron-icon-width: var(--lumo-font-size-s);
    --iron-icon-height: var(--lumo-font-size-s);
    vertical-align: text-top;
}

.project-view [icon="vaadin:close"],
.project-view [icon="vaadin:check"] {
    --iron-icon-width: var(--lumo-font-size-m);
    --iron-icon-height: var(--lumo-font-size-m);
    vertical-align: text-top;
}

#nav-main-links,
#nav-main-links a,
.nav-account-links a {
    align-items: stretch;
    color: var(--lumo-body-text-color);
}

#nav-main-links a:hover {
    color: var(--pm-primary-color);
    text-decoration: none;
}

#nav-main-links .navbar-logo + a:not(.navbar-logo) {
    margin-left: var(--lumo-space-xxl);
}

#nav-main-links a:not(.navbar-logo) {
    position: relative;
    display: flex;
    align-items: center;
    font-size: var(--lumo-font-size-s);
    font-weight: 600;
    font-family: var(--lumo-font-family-header);
    line-height: 1;
    padding: var(--lumo-space-m) 0;
    margin-left: var(--lumo-space-l);
    overflow: hidden;
}

#nav-main-links a:not(.navbar-logo)::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 3px;
    left: 50%;
    bottom: -1px;
    background-color: var(--lumo-primary-color);
    transform: translateX(-50%);
    transition: all 0.2s;
}

#nav-main-links a:not(.navbar-logo)[highlight] {
    color: var(--lumo-primary-color);
}

#nav-main-links a:not(.navbar-logo):hover::after,
#nav-main-links a:not(.navbar-logo)[highlight]::after {
    width: 100%;
}

.nav-account-links {
    align-items: center;
    margin-left: auto;
}

.navbar-logo {
    display: flex;
    align-self: center;
    width: 144px;
    height: 31px;
}

.navbar-logo img {
    display: block;
    width: 100%;
}

.panel-title-label {
    box-sizing: border-box;
    width: 100%;
    font-size: var(--lumo-font-size-s);
    font-weight: normal;
    color: var(--lumo-secondary-text-color);
    line-height: 1;
    background: var(--pm-app-bg-color);
    padding: var(--lumo-space-xs);
    border-bottom: 1px solid var(--pm-grey-color-lightest);
}
.light-text-label {
    font-size: var(--lumo-font-size-m);
    color: var(--pm-orange-color);
}

.bold-label {
    font-weight: bold;
}
.no-top-margin-label {
    margin-top: 0;
}

.section-title-label,
.section-title-label-regular-font-weight {
    font-size: var(--lumo-font-size-xl);
    font-family: var(--lumo-font-family-header);
    color: var(--pm-text-color);
}

.section-title-label {
    font-weight: bold;
}

.section-subtitle-label {
    font-family: var(--lumo-font-family-header);
    color: var(--pm-text-color);
}

.truncated-label {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.highlight-label {
    background-color: var(--pm-yellow-color);
}

.hint-label,
.fade-out-hint-label {
    font-size: var(--lumo-font-size-s);
    color: var(--pm-primary-color);
}

.fade-out-hint-label {
    opacity: 0;
    transition: opacity 0.5s;
}

.fade-out-hint-label.fade-in {
    display: block !important;
    opacity: 1;
}

.closeable-notification-text-label {
    display: inline-block;
    max-width: 350px;
    padding-right: 15px;
}

.default-view {
    height: 100%;
    border-top: 1px solid var(--pm-grey-color-lightest);
}

.view-section {
    width: 100%;
    background: white;
    border-radius: var(--lumo-border-radius);
    overflow: hidden;
    padding: var(--lumo-space-xl);
    box-sizing: border-box;
    min-width: 520px;
    flex: 1;
}

.page-content-header {
    margin-bottom: var(--lumo-space-m);
}

.page-content-header > vaadin-button {
    margin: 0 0 0 var(--lumo-space-xxl);
}

.demo-view-content + vaadin-button {
    position: absolute;
    top: var(--lumo-space-m);
    right: var(--lumo-space-m);
}

vaadin-dialog-overlay .demo-view-content {
    padding: var(--lumo-space-xs);
}

.projects-view vaadin-button[theme~="primary"] {
    width: 15.8rem;
}

.projects-view .page-content-header {
    margin-bottom: 0;
}

.projects-view .content-wrapper {
    flex: 1 0 auto;
}

.projects-view .view-section,
.project-view .view-section,
.project-view .page-content {
    box-sizing: border-box;
    flex: 1 1 auto;
}

.projects-view .page-content {
    box-sizing: border-box;
    flex: 1 0 auto;
}

.projects-view .view-section {
    padding: var(--lumo-space-m) var(--lumo-space-l) 0;
    border-radius: 0;
}

.projects-view .section-title-label,
.project-view .section-title-label {
    line-height: 1.1;
    white-space: pre-wrap;
    word-break: break-word;
}

.project-view .section-subtitle-label,
.search-results-view .section-subtitle-label {
    color: var(--lumo-secondary-text-color);
}

.default-view.upload-model-view,
.default-view.edit-goals-view {
    height: auto;
    min-height: 100%;
}

.upload-model-view .view-section,
.edit-goals-view .view-section,
.choose-project-view .view-section {
    max-width: 500px;
    flex: 0 0 auto;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin: var(--lumo-space-xxl) auto;
    border-radius: var(--lumo-border-radius);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.edit-goals-view h2 {
    margin-top: 0;
}

.upload-model-view vaadin-upload {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin-top: var(--lumo-space-xl);
}

.upload-model-view .file-check-panel {
    margin-top: var(--lumo-space-l);
}

.upload-model-view .error-label:not(:empty) {
    padding: var(--lumo-space-s);
    border-radius: var(--lumo-border-radius);
}

.upload-model-view .view-section > vaadin-vertical-layout > vaadin-horizontal-layout:last-child {
    margin: var(--lumo-space-xxl) 0 0;
}

.upload-model-view .warning-label {
    padding: 0 var(--lumo-space-xxs);
}

/* Account Views */

account-view {
    background: var(--pm-app-bg-color);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

account-view-content,
account-edit-view-content,
change-password-view-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

account-view-content .panel-wrapper,
account-edit-view-content .panel-wrapper,
change-password-view-content .panel-wrapper {
    flex: 1 0 auto;
    min-height: auto;
    overflow: visible;
}

account-edit-view-content .inner-content,
change-password-view-content .inner-content {
    text-align: left;
}

/* Title bar */
.page-title {
    position: sticky;
    top: 0;
    flex: 0 0 auto;
    z-index: 5;
    line-height: 2;
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-s);
    background-color: white;
    padding: 0 var(--lumo-space-m);
    border-top: 1px solid var(--pm-grey-color-lightest);
    border-bottom: 1px solid var(--pm-grey-color-lightest);
    margin-top: -1px;
    overflow: hidden;
}

.page-title .breadcrumb:hover {
    text-decoration: none;
}

.page-title .breadcrumb + span {
    position: relative;
    color: white;
}

.page-title .breadcrumb + span:not(:last-child)::after {
    content: "";
    position: absolute;
    width: var(--lumo-space-m);
    height: var(--lumo-space-m);
    top: 50%;
    right: 50%;
    border-top: 1px solid var(--pm-grey-color-light);
    border-right: 1px solid var(--pm-grey-color-light);
    transform: rotateZ(45deg) skew(10deg, 10deg) translate(-20%, -40%);
}

.projects-view .page-title {
    width: calc(var(--lumo-space-m) * 2 + 100%) !important;
}

.mock-backend-header {
    width: 100%;
    font-size: var(--lumo-font-size-s);
    font-family: var(--code-font-family);
    font-weight: bold;
    line-height: 1;
    color: var(--lumo-body-text-color);
    background-color: rgba(254, 187, 43, 0.9);
    padding: var(--lumo-space-xs) 0;
    text-align: center;
}

@media (min-width: 1281px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
        --lumo-font-size-xxl: 1.5rem;
        --lumo-font-size-xl: 1.25rem;
        --lumo-font-size-l: 1.125rem;
        --lumo-font-size-m: 1rem;
        --lumo-font-size-s: 0.925rem;
        --lumo-font-size-xs: 0.875rem;
        --lumo-space-xxl: 2rem;
        --lumo-space-xl: 1.5rem;
        --lumo-space-l: 1.25rem;
        --lumo-space-m: 1rem;
        --lumo-space-s: 0.75rem;
        --lumo-space-xs: 0.5rem;
        --lumo-space-xxs: 0.375rem;
        --lumo-space-xxxs: 0.25rem;
    }
}

/* General Helper Styles */
.tag {
    color: var(--pm-grey-color-dark);
    padding: var(--lumo-space-xxxs) var(--lumo-space-xs);
    background: var(--lumo-contrast-10pct);
    border: 1px solid transparent;
    border-radius: var(--lumo-border-radius);
    margin: 0 2px;
}
.tag:empty {
    display: none;
}
.error-label {
    background: var(--lumo-error-color-10pct);
    color: var(--lumo-error-color);
}
.success-label {
    background: var(--lumo-success-color-10pct);
    color: var(--lumo-success-color);
}
.reason-why-the-training-stopped.success-label a {
    color: var(--pm-grey-color-darker);
}
.warning-label {
    background: var(--pm-gold-color);
    color: var(--lumo-body-text-color);
}
.success-text {
    color: var(--lumo-success-color);
}
.failure-text {
    color: var(--pm-secondary-text-color);
}
/* Primary Button Styles */
.button-link {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 40px;
    font-weight: bold;
    color: white;
    background-color: var(--pm-primary-color);
    border-radius: var(--lumo-border-radius);
}

.button-link:hover {
    background-color: var(--lumo-primary-color-75pct);
    text-decoration: none;
    border: 1px solid var(--pm-primary-color);
}

.button-link:hover::before {
    opacity: 0;
}

.download-alp-link {
    align-self: flex-start;
}

.export-policy-view .download-alp-link {
    align-self: center;
}

.helper-icon:hover {
    color: var(--pm-secondary-text-color);
}

/* Typography Styles */
h1, h2, h3, h4 {
    font-family: var(--lumo-font-family-header);
}
h1 {
    font-size: var(--lumo-font-size-xxl);
}

h2 {
    font-size: var(--lumo-font-size-xl);
}

h3 {
    font-size: var(--lumo-font-size-l);
}

h4 {
    font-size: var(--lumo-font-size-m);
}

.dialog-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: calc(var(--lumo-space-l) * -1);
    margin-top: var(--lumo-space-l);
    padding: var(--lumo-space-xs) var(--lumo-space-l);
    background-color: var(--lumo-contrast-5pct);
}

.demo-view-content {
    padding: var(--lumo-space-xl);
    align-items: center;
}

.projects-view .page-content > .demo-view-content {
    padding: 0 var(--lumo-space-m) var(--lumo-space-m);
}

.demo-view-content.is-vertical {
    width: auto !important;
    padding: 0;
}

.demo-view-content h3 {
    font-weight: normal;
    margin-top: 0;
}

.demo-view-content.is-vertical h3 {
    font-size: var(--lumo-font-size-m);
    margin-top: 2.6rem;
}