#nav-main-links, #nav-account-links, #nav-main-links a, #nav-account-links a, .nav-logout-button  {
    color: var(--lumo-body-text-color);
    line-height: 31px;
}

.navbar-logo {
    width: 144px;
    height: 31px;
}

.section-label-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.section-label-subtitle {
    font-size: 22px;
    color: #999;
}

.section-label-title {
    font-size: 22px;
}

.project-title-label {
    font-size: 18px;
    font-weight: bold;
    color: #999;
}

.action-menu {
    background-color: var(--pm-primary-color);
}

.light-text-label {
    font-size: 12px;
    color: #ccc;
}

.logo-label {
    font-size: 24px;
}

.form-component {
    border: 1px solid black;
}

.form-label {
    border: 1px solid black;
}

.section-title-label {
    font-size: 22px;
}

.section-subtitle-label {

}

.centered-field-label {
    width: 100px;
}

.default-view {
    background: var(--pm-app-bg-color);
}

.view-section {
    width: 100%;
    background: white;
    border-radius: var(--lumo-border-radius);
    overflow: hidden;
    padding: var(--lumo-space-l);
    box-sizing: border-box;
}

.dashboard-view .view-section {
    flex: 1;
}
