apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.name }}
  labels:
{{ include "pathmind.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 0
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Values.name }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        timestamp: "{{ date "20060102150405" .Release.Time }}"
        iam.amazonaws.com/role: eks
      labels:
        app.kubernetes.io/name: {{ .Values.name }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: {{ .Values.image.command }}
          args:
{{- range .Values.image.args }}
            - {{ . }}
{{- end }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
      {{- with .Values.readinessprobe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
      {{- end }}
      {{- with .Values.livenessprobe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
      {{- end }}
          env:
            - name: APPLICATION_URL
              value: "{{ .Values.env.APPLICATION_URL }}"
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.env.DB_SECRET_NAME }}
                  key: {{ .Values.env.DB_SECRET_KEY }}
            - name: INTERCOM_APP_ID 
              value: "{{ .Values.env.INTERCOM_APP_ID }}"
            - name: SEGMENT_WEBSITE_KEY
              valueFrom:
                secretKeyRef:
                  name: segmentwebsitekey
                  key: SEGMENT_WEBSITE_KEY
            - name: SEGMENT_SERVER_KEY
              valueFrom:
                secretKeyRef:
                  name: segmentserversitekey
                  key: SEGMENT_SERVER_KEY
            - name: WEBSITE_HTTPLOGGING_RETENTION_DAYS
              value: "{{ .Values.env.WEBSITE_HTTPLOGGING_RETENTION_DAYS }}"
            - name: PATHMIND_LOG_FILE_PATH
              value: "{{ .Values.env.PATHMIND_LOG_FILE_PATH }}"
            - name: SCM_COMMAND_IDLE_TIMEOUT
              value: "{{ .Values.env.SCM_COMMAND_IDLE_TIMEOUT }}"
            - name: MODEL_ANALYZER_URL
              value: "{{ .Values.env.MODEL_ANALYZER_URL }}"
            - name: ENVIRONMENT
              value: "{{ .Values.env.ENVIRONMENT }}"
            - name: AWS_DEFAULT_REGION
              value: "us-east-1"
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: awsaccesskey
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: awssecretaccesskey
                  key: AWS_SECRET_ACCESS_KEY
            - name: SQS_URL
              value: "{{ .Values.env.SQS_URL }}"
            - name: S3_BUCKET
              value: "{{ .Values.env.S3_BUCKET }}"
            - name: MULTI_AGENT
              value: "{{ .Values.env.MULTI_AGENT }}"
            - name: JOB_MOCK_CYCLE
              value: "{{ .Values.env.JOB_MOCK_CYCLE }}"
            - name: SQS_UPDATER_URL
              value: "{{ .Values.env.SQS_UPDATER_URL }}"
            - name: SNS_UPDATER_TOPIC_ARN
              value: "{{ .Values.env.SNS_UPDATER_TOPIC_ARN }}"
            - name: SNS_UPDATER_SQS_FILTER_ATTR
              value: "{{ .Values.env.SNS_UPDATER_SQS_FILTER_ATTR }}"
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
